<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VF</title>
  </head>
  <body>
    {% block content %} {% endblock %}
    <footer>
      <div class="f-container">
        <div id="logo">LOGO</div>
        <br />
        <div class="p">
          <p>HOME</p>
          <p>ABOUT</p>
          <p>TERM</p>
          <p>PRIVACY</p>
        </div>
        <br />
        <span>Copyright © 2020 000. All Rights Reserved. </span>
      </div>
    </footer>
  </body>
</html>
