<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="blog.css" />
    <title>Document</title>
  </head>
  <body>
    <nav id="navbar">
      <div id="logo"><p>LOGO</p></div>
      <div class="nav-content">
        <a href="./firstPage.html"><p>HOME</p></a>
        <p>SERVICES</p>
        <a href="#features"><p>FEATURES</p></a>

        <a href="./blog.html"><p>BLOG</p></a>
        <a href="./contact.html"><p>CONTACT</p></a>
      </div>
    </nav>
    <header><h1>Blog</h1></header>

    <div id="latest" class="latest">
      <img id="latest_img" src="./img/5.jpg" alt="img" />
      <h2>
        베트남 뷰티 유튜버 알아보기
      </h2>
      <h3>orem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean</h3>
      <br />
      <p>content</p>
      <br />
      <p>2020-03-09</p>
    </div>
    <div class="posts">
      <div class="post">
        <img src="img/3.jpg" alt="img" />
        <h2>Blog Title</h2>
      </div>
      <div class="post">
        <img src="img/5.jpg" alt="img" />
        <h2>Blog Title</h2>
      </div>
    </div>
    <footer>
      <div class="f-container">
        <div id="logo">LOGO</div>
        <br />
        <div class="p">
          <p>HOME</p>
          <p>ABOUT</p>
          <p>TERM</p>
          <p>PRIVACY</p>
        </div>
        <br />
        <span>Copyright © 2020 000. All Rights Reserved. </span>
      </div>
    </footer>
    <script src="first.js"></script>
  </body>
</html>
