<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ranking</title>
    <link rel="stylesheet" href="./ranking.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

    <nav id="navbar">
      <div id="logo"><p>LOGO</p></div>
      <div class="nav-content">
        <a href="./firstPage.html"><p>HOME</p></a>
        <p>SERVICES</p>
        <a href="#features"><p>FEATURES</p></a>

        <a href="./blog.html"><p>BLOG</p></a>
        <a href="./contact.html"><p>CONTACT</p></a>
      </div>
    </nav>
    <header>
      <h1>카테고리별 순위</h1>
    </header>
  

    <main>
      <section class="intro">
        <div>
        <span class="profile">
          <span>
            <h1><a href="#" target="new">건강한 유튜브 채널은 월간트래픽으로 확인</a></h1>
          </span>
          <br />
          <span class="num">
            <p>콘텐츠 기획 및 영상 제작부터 홍보, 수익 창출까지 유튜브 채널 운영 방법 총망라대한민국 TOP 크리에이터, <br>
                '유튜브 스타'가 직접 알려주는 YouTube 유튜브로<br>
              <a href="#SeeMore"><button id="btn" type="submit">자세히 보기</button></a></p>
          </span>

        </div>
        </span>
      </section>

      <section class="body_text">
        <div class="ranking_menu">
        <div><i class="fab fa-youtube"></i> <a href="ranking.html">유튜브 구독자 순위</a></div>
        <div><i class="fas fa-play-circle"></i> <a href="ranking_view.html">유튜브 조회수 순위</a></div>
        <div><i class="fas fa-fire"></i> <a href="ranking_subs.html">구독자 급상승 채널</a></div>
        <div><i class="fas fa-folder"></i> <a href="ranking_cate.html">카테고리별 순위</a></div>
        </div>

        <div class="cate_menu">
            <div><a href="ranking.html"><button>게임</a></button></div>
            <div><a href="ranking_view.html"><button>뷰티</button></a></div>
            <div><a href="ranking_subs.html"><button>키즈</button></a></div>
            <div><a href="ranking_cate.html"><button>푸드</button></a></div>
            <div><a href="ranking_cate.html"><button>펫</button></a></div>
            <div><a href="ranking_cate.html"><button>라이프스타일</button></a></div>
            <div><a href="ranking_cate.html"><button>VLOG</button></a></div>
        </div>

        <table class="ranking">
          <tr>
              <td>순위</td>   <!-- 1행 1열-->
              <td></td> <!-- 1행 2열-->
              <td>채널명</td> <!-- 1행 2열-->
              <td>카테고리</td> <!-- 1행 3열-->
              <td>누적 구독자수</td>
              <td>영상별 평균조회수</td>
          </tr>
          <tr>
              <td>1</td>   <!-- 2행 1열-->
              <td><img src="img/rank_icon.jpg"></td>   <!-- 2행 1열-->
              <td><a href="https://www.youtube.com/channel/UC0jDoh3tVXCaqJ6oTve8ebA" target="new">Beck'Stage - Unexpected Rap Fest</a></td>     <!-- 2행 2열-->
              <td>인물/브이로그</td>    <!-- 2행 3열-->
              <td>216K</td>
              <td>497.12K</td>
          </tr>
        </table>
      </section>
    </main>

    <footer>
      <div class="f-container">
        <div id="logo">LOGO</div>
        <br />
        <div class="p">
          <p>HOME</p>
          <p>ABOUT</p>
          <p>TERM</p>
          <p>PRIVACY</p>
        </div>
        <br />
        <span>Copyright © 2020 000. All Rights Reserved. </span>
      </div>
    </footer>
    <script src="first.js"></script>
  </body>
</html>
